/*overrides*/

body { padding-top: 70px; }

#top, #p0about, #p1projects, #p2services, #p3team, #p4clients {
  position: relative;
  top: -5em;
}

p {
  margin-bottom: 0px;
  font-family: 'Gudea', sans-serif;
  font-size: 1.1em;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
  opacity: 0.8;
}


h2 {
   font-family: 'Raleway', sans-serif;
}

h3 {
 font-family: 'Gudea', sans-serif;
}

.hrbrown, .hrblue {
  margin-top: 0;
  margin-bottom: 1em;
  width: 200px;
  opacity: 0.5;
}

.hrbrown {
  border-top: 1px solid #ECDBCA;
}

.hrblue {
  border-top: 1px solid #207CC1;
}

/*NAVIGATION BAR*/

.navbar-brand {
  position: relative;
  top: 11px;
  color: black;
  height: 76px;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-left: 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #F8f8f8;
}

#fancy {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  color: black;
  font-weight: 800;
  letter-spacing: 0.00em;
}

#fancy i {
  color: red;
  letter-spacing: 0;
  font-style: normal;
}

#fancy span {
  color: red;
  font-size: 0.5em;
  opacity: 0.8;
  margin-left: 0.3em;
}


.container {
  padding-left: 0;
  padding-right: 0;
  width: 97%;
}

#fancy {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition:    all 500ms ease;
  -o-transition:      all 500ms ease;
  transition:         all 500ms ease;
}

#fancy:hover {
  opacity: 0.8;
}

.navbar-default {
  border-bottom: 0px;
  box-shadow: 2px 2px 2px #888888;
}

.navbar-toggle {
  margin-top: 1.4em;
  border-radius: 0px;
}

.breadcrumb {
  margin-top: 15px;
  float: right;
  padding-right: 0;
  padding-left: 0;
  background-color: inherit;
}

.breadcrumb li {
  margin-right: 0.3em;
  padding-top: 5px;
  font-family: 'Raleway', sans-serif;
}

.breadcrumb>li+li:before {
  content: none;
}


/*MENU TEXT*/

li a {
  color: black;
}

li a:hover, li a:focus {
  opacity: 0.9;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}






/*CALL TO ACTION*/

.jumbotron {
  padding-top: 1em;
  margin-bottom: 0;
  color: white;

}

/*.jumbotron .container h1 {
  text-align: center;
  font-family: arial;
}

.jumbotron .container h1 {
  margin-bottom: 0.4em;
}*/

.jumbotron h3 {
  text-align: left;
  position: relative;
  left: -4em;
  background-color: black;
  padding: 12px 15px 12px 3.5em;
  display: inline-block;
  margin: 10px 0 5px 10px;
}

.jumbotron .container p {
  width: 75%;
  text-align: center;
  margin: 1em auto 1em auto;

}

.jumbotron .container {
  margin-top: 0em;
  padding-bottom: 30em;
}

.centered {
  text-align: center;
}

.jumbotron {
  background-image: url("../imgs/landingimageold.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}


/*BUTTONS*/

.btn-primary, .btn-default {
  background-color: #207CC1;
  color: white;
  border-radius: 0px;
  border: 2px #207CC1 solid;
  width: 200px;
  -webkit-transition: all 500ms ease;
  -moz-transition:    all 500ms ease;
  -o-transition:      all 500ms ease;
  transition:         all 500ms ease;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.btn-default {
  margin: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: #1C404E;
  color: white;
  border: 2px #1C404E solid;
}




/*POST INTRO BLURB*/

.containeraction {
  background-color: #000000;
}

#actionquote {
  padding-bottom: 2em;
  padding-top: 1em;
  text-align: center;
  width: 90%;
  color: white;
  font-size: 1.5em;
}

/*ABOUT US*/

.aboutuscontainer {
  background-image: url("../imgs/designs/moulin.png");
  background-color: black;
}

#aboutus h1 {
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 40px ;
  text-align: center;
}

#aboutus {
  color: #F8F8F8;
  width: 55%;
  margin: auto;
  padding-bottom: 4em;
}

#aboutus p {
  font-size: 1.4em;
  padding-bottom: 1.5em;
  text-align: left;
}




/*CAROUSEL*/

/*fonts*/
.carouselcontainer h1, .carousel-mobile h1 {
  color: black;
  padding-top: 0.5em;
  /*margin: 0 auto;*/

}

#myCarousel h3, .carousel-mobile h3 {
  color: #207CC1;
  font-size: 2.5em;
}

#myCarousel p, .carousel-mobile p {
  color: black;
}

/**/

.glyphicon {
  color: #207CC1;
  font-size: 3.3em;
  font-weight: 300;
  position: relative;
  top: -70px;
}

.carouselcontainer {
  padding: 2em 3em;
  /*background-image: url("../imgs/designs/moulin.png");*/
  min-width: 1000px;
  /*background-color: #1A2B39;*/
  background-image: url("../imgs/designs/beigediamond.png")
}

#myCarousel {
  margin: 0 auto;
  max-width: 1100px;
  min-height: 560px;
}

.item{
    background: #333;
    text-align: center;
    height: 450px;
    background-color: inherit;
    margin-top: 1em;
    margin-bottom: 4em;
    min-width: 600px;
}

.carousel-caption {
  text-align: left;
  margin-bottom: 7em;
  padding: 10px 0;
  width: 90%;
  margin-left: 10px;
}

.carousel-inner {
  position: relative;
  width: 80%;
  margin: auto;
}

.col-sm-6 {
  width: 400px;
  height: 289px;
  float: right;
  padding-left: 0;
  top: 60px;
}


.col-sm-5 {
  text-align: left;
  width: 35%;
  margin: auto 0 auto 3em;
  min-width: 200px;
  padding: 0 0 0 0px;
  bottom: 20px;
}

.carousel{
    margin-top: 20px;
}

.carousel-control.left, .carousel-control.right{
  background-image: none;
  width: 50px;
  height: 50px;
  margin: auto;
}

/*CAROUSEL MOBILE*/

.carousel-mobile {
  display: none;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 60px;
}

.carousel-mobile p {
  padding: 0 4em;
}

/*.carousel-mobile h1 {
  margin-bottom: 1em;
}*/

.carousel-mobile hr {
  width: 25%;
  text-align: center;
}

.mproject {
  margin-bottom: 3em;
}






/*SERVICES*/

/*fonts*/
#services h1 {
  color: black;
}

#services p {
  color: #33322E;
  font-size: 1.1em;
}

#services h3 {
  color: black;
  /*color: #333333;*/
  font-weight: 900;
  letter-spacing: 0.03em;
}

/**/

#services {
  padding-bottom: 7em;
  padding-top: 7em;
  background-image: url("../imgs/test.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  width: 100%;
}

/*servicesimg*/
#services .row {
  width: 85%;
  margin: auto;
}

.col-md-4 {
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: center;
}

.row p {
  width: 90%;
  text-align: center;
  margin: auto auto;
}

#finalrow {
  margin-bottom: 5em;
}

/*Organizational Communications*/

.OCwrapper > p {
  text-align: center;
  margin: auto;
  width: 50%;
}

.OCwrapper h3 {
  margin: 5px, auto;
  text-align: center;
}

.OCwrapper h5 {
  opacity: 0.8;
  font-style: italic;
}



/*THE TEAM*/

/*fonts*/
#theteam h1 {
  color: black;
  text-align: center;
  /*margin-bottom: 1em;*/
}

#theteam hr {
  margin-bottom: 3em;
}

#theteam h2 {
  color: #207CC1;
  margin-bottom: 1.5em;
}

#theteam h4 {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 1.5em;
}

#theteam p {
  color: #071B2B;
  margin-bottom: 1em;
}

/**/

#theteam {
  padding: 5em 0em 6em 0em;
  /*background-image: url("../imgs/designs/moulin.png");*/
  background-image: url("../imgs/designs/beigediamond.png");
}

#theteam .container {
  width: 70%;
}
.pleft {
  text-align: left;
  margin-bottom: 2em;
  /*width: 70%;*/
}

.pright {
  text-align: right;
  margin-bottom: 2em;
  /*width: 70%;*/
  float: right;
}

#theteam img {
  height: 300px;
  border: 2px solid #C9BA97;
}

.pright img {
  float: left;
  margin: 2em 1em 0 0;

}

.pleft img {
  float: right;
  margin: 4em 0 1em 4em;
}



/*QUOTE*/

#quote {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 75%;
}



.quoteanchor {
  color: white;
  background-image: url("../imgs/noisycomp.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  text-align: center;
}

.quoteanchor {
  text-align: center;
}

.quote1 {
  margin-bottom: 5em;
}

.quoteanchor p {
  font-style: italic;
  margin-top: 1em;
}







/*CLIENTS*/

#clients {
  background-image: url("../imgs/designs/beigediamond.png");
  text-align: center;
}

#clients h2, #theteam h4 {
  width: 100%;
  font-family: 'Oswald' sans-serif;
  font-weight: 300;
  margin-bottom: 2em;
}

#clients h2 {
  font-size: 1.6em;
}

.thumb {
  /*border: 1px solid gray;*/
  margin: 3px auto;
}

.thumbnail {
  margin-bottom: 5px;
  border: none;
  -webkit-transition: all 300ms ease;
  -moz-transition:    all 300ms ease;
  -o-transition:      all 300ms ease;
  transition:         all 300ms ease;
  background-color: transparent;
}

.thumbnail:hover {
  opacity: 0.6;
}

.mobileclients {
  display: none;
}




/*CONTACT*/
/*fonts*/
#contact h1 {
  margin: 0 auto 0.4em auto;
  color: white;
}

#contact p {
  color:white;
  font-size: 1.3em;
  width: 40%;
  margin: 0 auto;
}

#contact {
  padding-bottom: 3em;
  padding-top: 3em;
  background-image: url("../imgs/designs/moulin.png");
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-color: #343434;*/
  width: 100%;
  text-align: center;
  font-family: 'Gudea', sans-serif;
}



form {
  width: 500px;
  margin: auto auto;
}

#inlineform {
  margin-bottom: 10px;
  display: inline;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #888888;
}

.inlineleft {
  width: 48%;
  float: left;
}

.inlineright {
  float: right;
  width: 50%;
}

#message {
  width: 100%;
  margin-bottom: 10px;
}

.blurb {
  margin-bottom: 1.6em;
}

/*FOOTER*/

.footer {
  height: 110px;
  background-color: #F8F8F8;
  box-shadow: 1px 1px 1px #888888;
}

.footer .text-muted {
  margin-top: 5px;
  font-size: 2em;
  text-align: center;
  position: relative;
  right: 3px;
}

footer p {
  margin-bottom: 0px;
  text-align: center;
  font-size: 0.8em;
}






/*MOBILE*/

@media screen and (max-width: 450px) {

  .breadcrumb {
    padding-left: 0;
  }
  .breadcrumb li {
    margin-right: 0.6em;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 800px) {
  #fancy span {
    font-size: 0.4em;
    margin-left: 0.1em;
  }
}

@media screen and (max-width: 767px) {
  .jumbotron .container {
    /*margin-top: 4em;*/
  }
}

@media screen and (max-width: 650px) {
  #actionquote {
    width: 90%;
  }

  #clients .container, #clients {
    width: 100%;
  }
}

/*THE TEAM*/

@media screen and (max-width: 550px) {
  #theteam img {
    display: none;
  }
  #theteam p {
    margin: inherit 10px;
  }
}

@media screen and (max-width: 850px) {
  #theteam .container {
    width: 95%;
  }
}

/*CONTACT*/
@media screen and (max-width: 520px) {
  form {
    width: 95%;
  }
}






/*M CAROUSEL*/

@media screen and (max-width: 1000px) {
  .col-sm-6 {
    display: none;
  }

  .carouselcontainer {
/*  padding: 5em 3em;
  background-color: gray !important;
  min-width: 10px;
  width: 100%;*/
  display: none !important;
}

  .col-sm-5 {
    width: 90%;
  }

  .carousel-control.left, .carousel-control.right {
    display: none;
  }

  .carousel-mobile {
    display: block;
    background-image: url("../imgs/designs/beigediamond.png");
  }

}


/*M CLIENTS*/
@media screen and (max-width: 750px) {
  .pleft {
  text-align: left;
  margin-bottom: 5em;
  width: 95%;
}
.pright {
  text-align: right;
  width: 95%;
  margin-bottom: 2em;
}
  #clients {
    padding: 0em 2em;
    width: 100%;
    background-color: lightgray;
  }

  .postintro {
    width: 100%
  }

  #contact p {
    width: 90%;
  }

  #aboutus {
    width: 90%;
  }

    .breadcrumb .speciallist {
    display: none;
  }

    .mobileclients {
    display: block;
  }

  .thumb {
    display: none;
  }

}